.container
	.jumbotron
		h1 MultiVision
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quaerat consequatur obcaecati optio cupiditate, temporibus sit aperiam, quod eveniet tempora. Aspernatur eaque exercitationem beatae eligendi porro libero qui, nesciunt quibusdam.

	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")